/*---------------*/
/*Global*/
/*---------------*/

body {
  padding-top: 66px;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  text-align: center;
}

main {
  min-height: 100vh;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.05em;
}

p {
  font-size: 1.6em;
  line-height: 1.8;
}

button,
a {
  font-family: "Oswald", sans-serif;
}

/*---------------*/
/*Navbar*/
/*---------------*/

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 650;
  margin: 0 0.5rem;
}

.navbar-text {
  padding: 0;
}

nav a {
  font-size: 20px;
}

/*---------------*/
/*Logo*/
/*---------------*/

.pizzaweb-logoimg {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

/*---------------*/
/*Home*/
/*---------------*/

.banner-image {
  height: 70vh;
  object-fit: cover;
}

.banner-btn {
  top: 85%;
}

#banner-text {
  top: 40%;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.home-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.2rem 0 1rem 0;
  color: #333;
}

.home-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #444;
}

.home-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #3f3f3f;
}

/*---------------*/
/*Cart*/
/*---------------*/

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  padding: 0.1rem 1rem;
  border-radius: 20px;
}

.cart-price {
  font-family: "Cubano", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.cart-items {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/*---------------*/
/*Cards*/
/*---------------*/

.card {
  background-color: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 2em;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #555;
}

/*---------------*/
/*Forms*/
/*---------------*/

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  margin-right: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #333;
}

.form-control {
  flex: 1;
  margin-left: 0.5rem;
}

/*---------------*/
/*Button*/
/*---------------*/

.btn {
  width: 100%;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-dark {
  background-color: #333;
}

.btn-dark:hover {
  background-color: #555;
}

/* PizzaList mennyiség */
.quantity-control {
  width: 100%;
  display: flex;
  align-items: center;
}

.quantity-label {
  margin-right: 10px;
}

.quantity-input-group {
  display: flex;
  width: 100%;
}

.quantity-button {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 5px 10px;
  width: 35%;
  color:#3f3f3f;
  cursor: pointer;
  font-size: 16px;
}

.quantity-button:hover {
  background-color: #e9ecef;
}

.quantity-input {
  width: 30%;
  text-align: center;
  border: 0px solid #ced4da;
  color:#333;
  background-color: white;
  padding: 5px;
  font-size: 16px;
}

/*---------------*/
/*Pizzas*/
/*---------------*/

.page-header {
  background-color: black;
  color: white;
  font-size: 26px;
  font-family: 'Comic Sans MS', cursive;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.search-filter > .form-select {
  width: 30%;
}

.btn-continue {
  background-color: #28a745;
  color: white;
}

.btn-continue:hover {
  background-color: #2dbb4e;
  color: white;
}

.btn-cart {
  background-color: #333;
  color: white;
}

.page-control .btn {
  width: auto;
}

.page-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.page-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #555;
}